# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable my-package': 'valign:align'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'valign'
      'submenu': [
        { 'label': 'Toggle', 'command': 'valign:align' }
      ]
    ]
  }
]
